.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* position: fixed	; */
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
}
