.header {
	display: flex;
	flex-direction: row;
	padding-left: 15px;
	background-color: #344ba8;
	color: #ffcc00;
	font-size: 150%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.wrap {
	display: flex;
	flex-direction: row;
}
h1 {
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

h5 {
	margin: 0;
	padding: 0;
}

@media (max-width: 420px) {
	.logo {
		display: none;
	}
}

.links {
	float: right;
}
