.footer {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	background-color: #344ba8;
	color: #ffcc00;
	font-size: 150%;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 15px;
	margin: 5px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
